$gray: gray;
$secondary-text: #afafaf;
$primary-text: #ffffff;
$dark-primary: #000000;
$primary-blue: #809cff;
$primray-danger: #ff8080;
$component-bg: #1d1d1d;
$border: #979797;
$component-bg-secondary: #363636;
